{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "PortalGIS Kementrian ESDM" %}</h1>
      <p>{% blocktrans %}Portal tukar-guna data spasial Kementrian ESDM{% endblocktrans %}</p>
      <span>{% trans 'Website Kementrian ESDM' %} <a href="http://esdm.go.id"></a></span>
    </div>
  </div>
  {% endblock %}
